<div>
  <div class="small-print">
    <small>{{ .Site.Copyright | safeHTML }}</small>
  </div>
  <div class="small-print">
    <small>Built with&nbsp;<a href="https://gohugo.io/" target="_blank">Hugo</a></small>
    <small>Theme&nbsp;<a href="https://github.com/yoshiharuyamashita/blackburn" target="_blank">Blackburn</a></small>
    <small>Hosted&nbsp;<a href="https://about.gitlab.com/2016/04/07/gitlab-pages-setup/" target="_blank">Gitlab Pages</a></small>
  </div>
</div>
